@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Click <a href="Search">here</a> to search for a movie.</p>
        <p>Click <a href="RegisterMovie">here</a> to register a movie.</p>
    </div>